:root {
  /* Colors */
  --primary-color: #434455;
  --light-bg: #ffffff;
  --hover-focus-color: #404bbf;
  --text-button-color: #4d5ae5;
  --button-background-color: #f4f4fd;
  --button-hover-focus-color: #ffffff;
  --button-hover-focus-background-color: #404bbf;
  --row-list-headline-color: #2e2f42;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
/* Base styles */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-button-color);
}
.logo-dark {
  color: var(--row-list-headline-color, #2e2f42);
}
.logo-light {
  color: var(--button-background-color);
}

/* Header Section */
.header-section {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  margin-right: 76px;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  color: var(--primary-color);
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-list-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.address-list-item:hover,
.address-list-item:focus {
  color: #404bbf;
}
/* Footer Section */
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-content {
  margin-right: 120px;
}
.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--row-list-headline-color);
}
.footer-logo {
  margin-bottom: 16px;
}
.footer-desc {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-background-color);
}
.footer-desc-second {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list-sotial {
  display: flex;
  gap: 16px;
  padding-left: 0px;
}
.footer-li {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-sotial {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sotial:hover,
.footer-sotial:focus {
  background-color: #31d0aa;
}
.footer-list-icon {
  fill: #f4f4fd;
}
.footer-subscribe-container {
  margin-left: 80px;
}
.footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  gap: 24px;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
}
.footer-subscribe-button {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-subscribe-icon {
  margin-left: 16px;
  fill: #f4f4fd;
}
/* Hero Section */
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      var(--GREY, rgba(46, 47, 66, 0.7)),
      var(--GREY, rgba(46, 47, 66, 0.7))
    ),
    url(../images/hero/people-office.jpg);

  background-repeat: no-repeat;
  background-color: var(--row-list-headline-color);
  background-size: cover;
  background-position: center;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover-focus-background-color);
}
/* Work Section */
.work-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-list-item {
  width: 264px;
}
.work-list-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
}
.work-list-icon {
  margin: 24px 100px;
}
.work-list-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--row-list-headline-color);
  margin-top: 8px;
  margin-bottom: 8px;
}
.work-list-caption {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Team Section */
.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-subtitle-headline {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--row-list-headline-color);
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-list {
  text-align: center;
  display: flex;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-wrapper {
  padding: 32px 0;
}
.team-list-headline {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--row-list-headline-color);
  margin-bottom: 8px;
}
.team-list-caption {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-sotial-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-sotial-icon {
  width: 40px;
  height: 40px;
}
.team-sotial-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-sotial-link:hover,
.team-sotial-link:focus {
  background-color: #404bbf;
}
.team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  fill: #f4f4fd;
}

/* Portfolio Section */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-headline {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--row-list-headline-color);
  margin: 0 auto;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-img {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-desc {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-background-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-overlay-desc,
.portfolio-list-item:focus .portfolio-overlay-desc {
  transform: translateY(0%);
}
.portfolio-list-headline {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--row-list-headline-color);
  margin-bottom: 8px;
}
.portfolio-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--primary-color);
  border-top: 0;
}
/* Modal */
textarea {
  resize: none;
}
.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 100%;
  min-height: 584px;
  max-height: 584px;
  overflow-y: auto;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: var(--row-list-headline-color);
  width: 100%;
  max-width: 360px;
  margin-bottom: 16px;
}
.modal-title-headline {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input {
  height: 40px;
  width: 360px;
  border: 1px solid;
  color: #2e2f4266;
  background-color: transparent;
  border-radius: 4px;
  transition: border-color 250ms;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-comment {
  margin-bottom: 16px;
}
.modal-input:not(:placeholder-shown):invalid {
  border-color: red;
}
.modal-input:focus {
  outline: none;
  border-color: var(--text-button-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--text-button-color);
}
.modal-input-text {
  padding-left: 38px;
}
.modal-input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  height: 120px;
  width: 100%;
  border: 1px solid;
  color: #2e2f4266;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-textarea:focus {
  outline: none;
  border-color: var(--text-button-color);
}
.send-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
}
.modal-checkbox-wrap {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  color: var(--LIGHT-SLATE, #8e8f99);
  width: 338px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.modal-checkbox-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-button {
  display: block;
  margin: 0 auto;
}
.checkbox-lable {
  line-height: 1.17;
}
.modal-checkbox-privacy {
  color: var(--text-button-color);
}
/* END Modal */

.modal-checkbox-input:checked + .checkbox-lable .modal-checkbox-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
